
@{
    ViewBag.Title = "ConfirmBorrowBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>System sended borrowing book to owner</h2>
<h2>Wait owner book reponse</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

